@charset "UTF-8";
html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, embed, figure, figcaption, footer, header, hgroup, menu, nav, output, ruby, section, summary, time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline; }

article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section {
  display: block; }

body {
  line-height: 1; }

ol, ul {
  list-style: none; }

blockquote, q {
  quotes: none; }

blockquote:before, blockquote:after {
  content: "";
  content: none; }

q:before, q:after {
  content: "";
  content: none; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

html {
  font-size: 100%; }

body {
  margin: 0;
  padding: 0;
  line-height: 1.5; }

html {
  -webkit-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%; }

body {
  margin: 0;
  padding: 0;
  font-family: Georgia, "Times New Roman", serif;
  font-weight: 400;
  color: #000; }

h1, .h1,
h2, .h2,
h3, .h3,
h4, .h4,
h5, .h5,
h6, .h6 {
  margin-top: 0;
  padding-top: 0;
  padding-bottom: 0;
  font-family: Verdana, Helvetica, Arial, sans-serif;
  font-weight: bold; }

h1, .h1 {
  margin-bottom: 0.18756em;
  font-size: 1.9994em;
  line-height: 1.12534; }
  @media (min-width: 43.75em) {
    h1, .h1 {
      margin-bottom: 0.13264em;
      font-size: 2.82715em;
      line-height: 1.06114; } }
  @media (min-width: 56.25em) {
    h1, .h1 {
      margin-bottom: 0.09381em;
      font-size: 3.99758em;
      line-height: 0.93807; } }

h2, .h2 {
  margin-bottom: 0.26521em;
  font-size: 1.414em;
  line-height: 1.32603; }
  @media (min-width: 43.75em) {
    h2, .h2 {
      margin-bottom: 0.18756em;
      font-size: 1.9994em;
      line-height: 1.12534; } }
  @media (min-width: 56.25em) {
    h2, .h2 {
      margin-bottom: 0.13264em;
      font-size: 2.82715em;
      line-height: 1.06114; } }

h3, .h3 {
  margin-bottom: 0.26521em;
  font-size: 1.414em;
  line-height: 1.32603; }
  @media (min-width: 56.25em) {
    h3, .h3 {
      margin-bottom: 0.18756em;
      font-size: 1.9994em;
      line-height: 1.12534; } }

h4, .h4 {
  margin-bottom: 0.26521em;
  font-size: 1.414em;
  line-height: 1.32603; }

h5, .h5,
h6, .h6 {
  margin-bottom: 0.375em;
  font-size: 1em;
  line-height: 1.5; }

p {
  margin-top: 0;
  margin-bottom: 1.5em;
  padding-top: 0;
  padding-bottom: 0;
  max-width: 36em;
  -webkit-hyphens: auto;
  -epub-hyphens: auto;
  -moz-hyphens: auto;
  -ms-hyphens: auto;
  -o-hyphens: auto;
  hyphens: auto;
  word-wrap: break-word; }

p + p {
  margin-top: -1.5em;
  text-indent: 1.5em; }

small,
.font-small {
  font-size: 0.70721em;
  line-height: 1.59075; }

em {
  font-style: italic; }

strong {
  font-weight: bold; }

blockquote {
  margin-top: 1.5em;
  margin-bottom: 1.5em;
  margin-left: 0;
  padding-top: 0;
  padding-bottom: 0;
  padding-left: 1.5em;
  border-left: 6px solid gray;
  font-family: Georgia, "Times New Roman", serif; }
  blockquote p {
    margin-bottom: 0.75em; }
  blockquote footer cite:before {
    content: " – "; }

pre,
code {
  font-family: "Lucida Console", Monaco, monospace; }

time,
.time {
  text-transform: uppercase; }

ol,
ul,
dl {
  margin-top: 0;
  margin-bottom: 1.5em;
  margin-left: 1.5em;
  padding-top: 0;
  padding-bottom: 0; }

ul ul,
ol ol,
dl dl {
  margin-left: 0; }

ul {
  list-style: disc; }

ol {
  list-style: decimal; }

abbr {
  font-variant: small-caps;
  font-weight: 600;
  text-transform: lowercase; }

abbr[title]:hover {
  cursor: help; }

hr {
  margin-top: 1.5em;
  margin-bottom: 0;
  border: none;
  border-top-color: #000;
  border-top-style: solid;
  border-top-width: 1px;
  padding-top: 1.4375em; }

.container {
  max-width: 100%;
  margin-left: auto;
  margin-right: auto; }
  .container:after {
    content: " ";
    display: block;
    clear: both; }

ul {
  margin: 1.5em 0; }
  ul ul {
    margin: 0; }

li {
  list-style: none; }
  li li label {
    padding-left: 2.121em; }

label {
  display: block;
  padding: 0 0.75em;
  position: relative; }

/* type settings defaults 
h2, .h2 {
  margin-bottom: emRhythm(1, $ms-up1);
  @include setType(5, $ms-up1);

  @media (min-width: 43.75em) {
    margin-bottom: emRhythm(1, $ms-up2);
    @include setType(6, $ms-up2)
  }

  @media (min-width: 56.25em) {
    margin-bottom: emRhythm(1, $ms-up3);
    @include setType(8, $ms-up3);
  }
}

h3, .h3 {
  margin-bottom: emRhythm(1, $ms-up1);
  @include setType(5, $ms-up1);

  @media (min-width: 56.25em) {
    margin-bottom: emRhythm(1, $ms-up2);
    @include setType(6, $ms-up2);
  }
}

h4, .h4 {
  margin-bottom: emRhythm(1, $ms-up1);
  @include setType(5, $ms-up1);
}

h5, .h5,
h6, .h6 {
  margin-bottom: emRhythm(1);
  @include setType(4);
}
*/
h3, .h3 {
  font-size: 1.414em;
  line-height: 1.59123;
  padding-left: 0.53041em;
  margin-bottom: 0; }
  @media (min-width: 56.25em) {
    h3, .h3 {
      margin-bottom: 0;
      padding-left: 0.37511em;
      font-size: 1.9994em;
      line-height: 1.50045; } }

h4, .h4 {
  margin-bottom: 0;
  font-size: 1.414em;
  line-height: 2.12164;
  padding-left: 0.53041em; }

#secondary-pane {
  width: 24.05063%;
  float: left;
  margin-right: 1.26582%;
  box-sizing: border-box;
  position: fixed;
  bottom: 0;
  top: 3em;
  overflow-y: auto; }

#cards {
  box-sizing: border-box;
  position: fixed;
  left: 24.05063%;
  right: 0;
  top: 0;
  bottom: 50%;
  overflow-y: auto;
  overflow-x: hidden; }

.card-list {
  float: left;
  width: 50%; }
  .card-list label {
    padding: 0 1.59075em; }

.fa.fa-exchange {
  display: inline-block;
  font-size: 12px;
  padding: 3px;
  border-radius: 2px;
  margin-right: 5px;
  position: absolute;
  top: 2px;
  left: 0.53025em;
  min-width: 8px;
  min-height: 8px; }

#selected-card {
  box-sizing: border-box;
  position: fixed;
  left: 24.05063%;
  right: 0;
  top: 50%;
  bottom: 0;
  overflow-y: auto; }
  #selected-card img {
    float: left;
    margin-left: 0.75em; }
  #selected-card h3 {
    margin-bottom: 1.06082em; }
    @media (min-width: 56.25em) {
      #selected-card h3 {
        margin-bottom: 0.75023em; } }

.card-details {
  float: right;
  width: 50%; }

td {
  padding-right: 0.75em; }

#mage button {
  margin: 0 0.75em 1.5em;
  display: block; }

#mage-stats {
  margin: 1.5em 0.75em; }

#filters button {
  position: absolute;
  top: 1.5em;
  right: 0.75em;
  z-index: 1; }

.buy {
  width: 24.05063%; }

.buy a {
  display: block;
  padding: 0.75em 0.75em; }

body {
  font-family: Verdana, Helvetica, Arial, sans-serif;
  background: #efe8d5; }

label {
  transition: 0.25s all; }

p {
  texet-align: left; }

label:hover {
  background: #667876;
  position: relative;
  text-indent: 0.25em;
  cursor: pointer; }

#mage label:hover {
  text-indent: 0; }

.fa-exchange {
  background: rgba(255, 255, 255, 0);
  transition: 0.1s all; }

.fa-exchange, .fa-exchange:hover {
  text-indent: 0; }

.fa-exchange:hover {
  background: rgba(255, 255, 255, 0.8); }

.selected {
  background: #667876; }

#secondary-pane {
  background: #2b3332;
  color: #d9cb9e; }
  #secondary-pane:before {
    display: block;
    position: fixed;
    width: 0;
    bottom: 0;
    left: 0;
    content: "";
    border-bottom: solid 15em #1e1e20;
    border-left: solid 7.5em #2a2c2b;
    border-top: solid 7.5em transparent;
    border-right: solid 7.5em transparent;
    z-index: -1; }

.cards li:hover {
  background: #667876; }

h3 {
  background: #a61018;
  position: relative;
  color: white;
  font-weight: normal;
  font-family: "IM Fell DW Pica", Georgia, "Times New Roman", serif;
  font-style: italic; }
  h3:after {
    display: block;
    position: absolute;
    width: 0;
    top: 0;
    right: 0;
    content: "";
    border-right: solid 0.75023em #8b0d14;
    border-top: solid 0.75023em #5c090d;
    border-bottom: solid 0.75023em transparent;
    border-left: solid 1.50045em transparent; }

h4 {
  background: #b94d53;
  color: white;
  position: relative;
  font-weight: normal;
  font-family: "IM Fell DW Pica", Georgia, "Times New Roman", serif;
  font-style: italic; }
  h4:after {
    display: block;
    position: absolute;
    width: 0;
    top: 0;
    right: 0;
    content: "";
    border-right: solid 1.06082em #973c41;
    border-top: solid 1.06082em #602629;
    border-bottom: solid 1.06082em transparent;
    border-left: solid 2.12164em transparent; }

.cards:before {
  display: block;
  position: fixed;
  width: 0;
  bottom: 50%;
  left: 24.05063%;
  content: "";
  border-bottom: solid 3.75em rgba(0, 0, 0, 0.2);
  border-left: solid 30em rgba(255, 255, 255, 0.5);
  border-top: solid 7.5em transparent;
  border-right: solid 7.5em transparent;
  z-index: -1; }

#selected-card img {
  border-radius: 8px; }

#selected-card:before {
  display: block;
  position: fixed;
  width: 0;
  bottom: 0;
  right: 0;
  content: "";
  border-bottom: solid 3.75em rgba(0, 0, 0, 0.2);
  border-right: solid 1.875em rgba(255, 255, 255, 0.5);
  border-top: solid 7.5em transparent;
  border-left: solid 7.5em transparent;
  z-index: -1; }

.hidden {
  display: none; }

.disabled {
  opacity: 0.5; }

.buy a {
  background: black;
  transition: 0.25s all;
  color: white;
  text-decoration: none;
  font-weight: bold; }
  .buy a:hover {
    color: #a61018; }
